@tailwind base;
@tailwind components;
@tailwind utilities;

/* anima»õie inimioare */
@keyframes fall {
  0% { transform: translateY(0) rotate(0deg); opacity: 1; }
  100% { transform: translateY(110vh) rotate(360deg); opacity: 0; }
}

.animate-fall {
  animation: fall 5s linear forwards;
}
